header{
    background:var(--cor-principal);
    color:white;
    text-align:center;
    padding:50px 20px;
}

nav{
    background:var(--cor-secundaria);
    position:sticky;
    top:0;
    z-index:1000;
}

footer{
    background:var(--cor-principal);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
footer p{
    margin: 0;
}

.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.container-formulario{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:start;
}

.imagem-formulario{
    height:100%;
}

.imagem-formulario img{
    width:100%;
    aspect-ratio:3/4;
    object-fit:cover;
}

.painel{
    width:80%;
    max-width:1200px;
    margin:auto;

    display:grid;
    gap:12px;

    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:220px 220px 220px;

    grid-template-areas:
    "a b c"
    "a d c"
    "e e c";
}