@media(max-width:768px){

header{
    padding:15px 10px;
}

.logo{
    max-width:180px;
}

header h1{
    font-size:1.6rem;
}

.container-formulario{
    grid-template-columns:1fr;
}

.imagem-formulario img{
    height:300px;
}

.card{
    width:100%;
    max-width:350px;
}

section h2{
    font-size:1.6rem;
}

.painel{
    width:100%;

    grid-template-columns:1fr;

    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";

    grid-template-rows:
    200px
    200px
    200px
    200px
    200px;
}

}

@media(max-width:480px){

header{
    padding:20px 10px;
}

.logo{
    width:70px;
}

section{
    padding:30px 15px;
}

section p{
    font-size:.95rem;
}

.menu{
    padding:10px;
}

}